.btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1vw;
    color: #223846;
    border-radius: 5px;
    border: 1px solid #BFC4CD;
    cursor: pointer;

    &:hover {
        color: #fff;
        background-color: #223846;
    }
    &:disabled {
        cursor: unset;
    }
    &:disabled:hover {
        color: #223846;
        background-color: #C9DDF2;
    }
}